@directasia:registry=https://pkgs.dev.azure.com/directasia/_packaging/directasia/npm/registry/
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/directasia/_packaging/directasia/npm/registry/:username=jeremy.rajan@directasia.com
//pkgs.dev.azure.com/directasia/_packaging/directasia/npm/registry/:_password=N2JqYTZvemVnZ3d1dDJ3NWl3bmZseGNudDJ4a3dpbWczNm1iNndpa2RheWYzdWh6enV0YQ==
//pkgs.dev.azure.com/directasia/_packaging/directasia/npm/registry/:email=jeremy.rajan@directasia.com
//pkgs.dev.azure.com/directasia/_packaging/directasia/npm/:username=jeremy.rajan@directasia.com
//pkgs.dev.azure.com/directasia/_packaging/directasia/npm/:_password=N2JqYTZvemVnZ3d1dDJ3NWl3bmZseGNudDJ4a3dpbWczNm1iNndpa2RheWYzdWh6enV0YQ==
//pkgs.dev.azure.com/directasia/_packaging/directasia/npm/:email=jeremy.rajan@directasia.com
; end auth token
